@model MyNote.Models.EventFormViewModel

@{
    ViewBag.Title = "CreateEvent";
}

<h2>Dodaj wspomnienie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-offset-4 col-md-4 event-container">
        <div class="event-title">
            @Html.EditorFor(model => model.EventFormDto.Title, new { htmlAttributes = new { @class = "event-form-title", placeholder = "Tytuł" } })
            @Html.ValidationMessageFor(model => model.EventFormDto.Title)
        </div>
        <div class="event-text">
            @Html.EditorFor(model => model.EventFormDto.Text, new { htmlAttributes = new { @class = "event-form-text", placeholder = "Treść" } })
            @Html.ValidationMessageFor(model => model.EventFormDto.Text)
        </div>
        <div class="event-pictrue-container">
            <div id="event-pictrue" class="dropzone"></div>
            <div class="event-pictrue-btn"><div >Dodaj zdjęcie</div></div>
            <div class="photo-hidden-values">
            </div>
        </div>
        <div class="row event-footer">
            <div class="col-md-offset-7 col-md-5 event-date">
                @Html.EditorFor(model => model.EventFormDto.Date, new { htmlAttributes = new { @class = "event-form-date", placeholder = "Data" } })
                @Html.ValidationMessageFor(model => model.EventFormDto.Date)
            </div>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <input type="submit" value="Dodaj wspomnienie" class="btn btn-default add-event-btn"/>
    </div>
}

@section Scripts {
    @Styles.Render("~/Content/validators");
    <script src="~/Scripts/dropzone.js"></script>
    <script>
        $(document).ready(function () {
            var photoCount = 0;

            function setPhotoNameIfIsUploaded(data) {
                var result = data.xhr.responseText;
                $(".photo-hidden-values").append('<input id="EventFormDto_PhotoNames_' + photoCount +
                    '_" name="EventFormDto.PhotoNames[' + photoCount + ']" type="hidden" value="' + result + '">');
                photoCount++;
            };

            $(".event-pictrue-btn div").dropzone({
                url: "../Photos/UploadPhoto",
                previewsContainer: "#event-pictrue",
                maxFiles: 4,
                acceptedFiles: ".jpg, .jpeg, .png",
                maxFilesize: "2",
                addRemoveLinks: true,
                dictRemoveFile: "Usuń zdjęcie",
                init: function () {
                    this.on("success", setPhotoNameIfIsUploaded);
                }
            });
        })
    </script>
}
